*{
    margin: 0%;
    padding: 0%;
}
.box {
    font-family: sans-serif;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    padding: 15px 0px;   
  
}

h2{
    background:linear-gradient(60deg, #3f28ed, #935ec8 70%);
    background-clip:text;
    color: transparent;
    margin-right: 20px;
     
}
.a {
    display: flex;
    align-items: center;
}

.icon {
    background: linear-gradient(60deg, #3f28ed, #935ec8 70%);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    margin-right: 20px;
}

.icon i {
    font-size: 11px;
    color: white;
    margin-top: 8px;
    transform: rotatex(20deg);

}

.a1 span:first-child {
    margin-top: 8px;
    width: 8px;
    height: 0px;
    background-color: white;
    display: block;
    border: 1px solid white;
    position: relative;
    left: 3px;
}

.a1 span {
    margin-top: 3px;
    width: 8px;
    height: 0px;
    background-color: white;
    display: block;
    border: 1px solid white;
}

.a1 span:last-child {
    position: relative;
    left: 3px;
}

.a1 {
    margin-left: 2px;
}

li {
    display: inline;
}

.c {
    display: flex;
    align-items: center;
}

 li{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.c h3{
    font-size: 16px;
    margin-right: 20px;
}

.c button{
    background-color: #3f28ed;
    border-radius: 5px;
    padding:6px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: none;
}

.c button:hover{
    cursor: pointer;
}


 img{
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.d{
    display: flex;
    align-items: center;

}

.d i{
    font-size: 20px;
    padding: 5px 10px;
}

.bell::after{
    content: " ";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: orangered;
    border-radius: 50%;
}

.inp{
    background-color: rgb(203, 200, 200);
    width: 350px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.inp input{
    width: 300px;
    background-color: transparent;
    font-size: 10px;
    border: none;
}

.inp i{
    font-size: 10px;
    margin-right: 5px;
}

.inpt{
    border: 1px solid black;
    border-radius: 20px;
    width: 250px;
    margin-right: 20px;
}

.inpt i{
    font-size: 10px;
}
.inpt input{
    font-size: 10px;
    width: 200px;
    border: none;
}


.inpt5{
    border-radius: 20px;
    width: 250px;
    margin-right: 10px;
}

.inpt5 i{
    font-size: 10px;
    margin-right: 10px;
}
.inpt5 input{
    font-size: 10px;
    width: 200px;
    border: none;
}

.e{
    display: flex;
    align-items: center;
}

.e p{
    font-size: 13px;
    margin-right: 20px;
    font-weight: bold;
}

.e img{
    margin-right: 20px;
}


.inpt6{
    border: 1px solid ;
    border-radius: 5px;
    width: 500px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.inpt6 i{
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.inpt6 input{
    font-size: 10px;
    width: 450px;
    border: none;
}
